---
---

@import "{{ site.theme }}";
#forkme_banner {
  background-color: #555;
}

#header_wrap > header {
  font-size: medium;
  max-width: 740px;
}

#main_content {
  font-size: medium;
  max-width: 740px;
}

div.detailed {
  background-color: #ddd;
  padding: 10px;
}
